numba==0.60.0
numpy==1.26.4
openpyxl==3.1.5
pandas==2.2.2
plotly==5.23.0
scipy==1.14.0
streamlit==1.37.0
streamlit-aggrid==1.0.5
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-openai==0.1.23
langchain-teddynote==0.0.28
langchain-text-splitters==0.2.4
langsmith==0.1.116
PyMuPDF==1.24.10
PyMuPDFb==1.24.10
pydantic==2.9.0
pydantic_core==2.23.2
faiss-cpu==1.8.0.post1
gdown==5.2.0
pdfplumber==0.11.4

